body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 25rem;
    height: 35rem;
    border: 2px solid black;
}

.output{
    height: 25%;
    border: 2px solid black;
}

.keys{
    display: flex;
    flex-wrap: wrap;
}

.key{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 24%;
    height: 5rem;
    border: 2px solid black;
}