body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 25rem;
    height: 35rem;
    border: 2px solid black;
}

.display {
    height: 25%;
    border: 2px solid black;
    padding-right: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.keys {
    display: flex;
    flex-wrap: wrap;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 25%;
    height: 5.2rem;
    border: 2px solid black;
}